<div class="panel panel-default video-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 video-section">
        <iframe frameborder="0" height="200" width="380" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" src="{{data.url}}"></iframe>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 video-summary">
        <h4>{{data.header}}</h4>
        <hr>
        <p>{{data.summary}}</p>
      </div>
    </div>
  </div>
</div>
